.mapinput{
    width: 1200px;
}
.map-container{
    display: flex;
    

}
.coord1{
    margin-left: 25px;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 3000px;
}
/* .coordinate{
    width: 3000px;
} */